.topC-radio-wrapper {
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  display: flex;
  align-items: center;

  .topC-radio {
    line-height: 1;
    outline: none;
    display: inline-block;
    position: relative;

    .topC-radio-input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      box-sizing: border-box;
    }

    .topC-radio-inner {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: #d9d9d9;
      border-radius: 50%;
      box-sizing: border-box;
    }

    .topC-radio-inner::after {
      content: ' ';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      background-color: #ff8824;
      border: 0;
      border-radius: 8px;
      display: table;
      opacity: 0;
    }
  }

  & > span:last-child {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.topC-radio-wrapper-checked {
  .topC-radio {
    .topC-radio-inner {
      border-color: #ff8824;
    }

    .topC-radio-inner::after {
      opacity: 1;
    }
  }
}
