.topC-password {
  display: inline-block;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      i {
        color: #000000;
      }
    }
  }
}
