.topC-search {
  height: auto;
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.topC-search-affix {
  height: auto;
  display: inline-block;
  position: relative;
  input {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
