.topC-select-table-tbody {
  width: 100%;
  font-size: 14px;
  tr {
    border-bottom: 1px solid rgba(31, 56, 88, 0.1);
    td {
      border-bottom: 1px solid #e8e8e8;
    }
    &:hover {
      td {
        background-color: rgb(255, 247, 240);
      }
    }
  }
}
