.topC-tabel-head {
  max-width: 100%;
  width: 100%;
  color: #000;

  tr {
    th {
      margin: 0;
      border: 0;
      height: 40px;
      background-color: #eef1f6;
      white-space: nowrap;
      text-align: left;
      border-color: #eef1f6;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 600;

      & > div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .topC-table-column-sorter {
          margin-left: 10px;

          i {
            display: block;
          }
        }
      }
    }
  }
}
