@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.topC-icon {
  font-size: 14px;
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.15em;
  }
}

.topC-icon[data-spin='true'] {
  animation: rotation linear 2s;
  animation-iteration-count: infinite;
}
